<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="row">
      <img class="col-lg-10 col-xl-offset-12" src="https://image.flaticon.com/icons/svg/1006/1006541.svg">
    </div>
    <div class="container">

      <div class="row">
        <h1 class="col-lg-12">Gestor de Clientes</h1>
        <button class="btn btn-success col-lg-4 col-xs-12" type="button" name="button" on-click="obtenerClientes">Obtener Clientes</button>
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>apellido</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">

              <tr>
                <td>[[item.idcliente]]</td>
                <td>[[item.nombre]]</td>
                <td>[[item.apellido]]</td>
              </tr>

            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
      obtenerClientes() {
        var request = new XMLHttpRequest();
        //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.open("GET","http://localhost:3002/movimientos/",false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        //this.clientes = JSON.parse(request.responseText).value;
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
      }
    }

    window.customElements.define(GestorClientes.is,GestorClientes);
  </script>
</dom-module>
